<div class="newpostbanner">
  <p>New Posts Entry Form</p>
  <p><small>(REF, Path is:> miniblog/views/posts/new.html.erb</small></p>
</div>

<div class="addauthorwrap">
  <%= link_to "add to database - New Author", new_author_path %>
</div>

<%= render partial: 'form' %>
