<div class="newpostbanner">
  <%= "New Posts Entry Form" %>


  <div class="addauthorwrap">
    <%= link_to "New Author - if new author redirect here to add new author", new_author_path %>
  </div>

  <%= render partial: 'form' %>
</div>
