<div class="page-header">
<h1>New Posts Entry Form<small>(new.html.erb)</small></h1>
</div>

<div class="addauthorwrap">
  <%= link_to "add to database - New Author", new_author_path %>
</div>

<%= render partial: 'form' %>
