
<table class="table">
  <thead>
    <tr>
      <th>
        AUTHOR
      </th>
      <th>
      </th>
      <th>
        TITLE
      </th>
    </tr>
  </thead>
  <tbody>
    <% @by_author.each do |author| %>
      <tr>
        <td>
          <%= author.first_name %> <%= author.last_name %>
        </td>
        <td>
          <%= author.post.title %>
        </td>
        <td>
          <%= link_to "list of auth html", post_path(id: post.id) %>
        </td>
      </tr>
      <tr>
        <td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
