// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-family: 'Shadows Into Light', cursive;
  width: 100%;
  height: 74px;
  position:relative;
  border: 1px solid #00331a;
  background-color: #BFCC7E;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 20px 0px 20px 0px;
  text-align: center;
}

